<!-- 
<app-home></app-home>

  <form #customerDetailsForm="ngForm" class="col s12 white" (ngSubmit)="addCustomerDetails()">

    <div class="row">
      <div class="col s8 offset-s2">
        <h4>Customer Info</h4>
        <div class="row">
          <div class="input-field col s6">
            <input type="text" required [(ngModel)]='customer.customerName' name='customer name'>
            <label data-error="Required feild!">Customer Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" required [(ngModel)]='customer.customerAddress' name='customer address'>
            <label data-error="Required Feild!">Customer Address</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label> Purchased Date</label>
          </div>
          <div class="input-field col s6">
            <input type="date" class="datepicker" [(ngModel)]='customer.purchasedDate' name='purchased date'>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col s12 offset-s2">
          <h4>Product Info</h4>
          <div class="row">
            <div class="input-field col s4">
              <input type="text" required name="product number" [(ngModel)]="productNumber">
              <label>ProductSerialNumber</label>
            </div>
            <div class="input-field col s4">
              <button [disabled]="!productNumber" class="btn" (click)="getProductDetails()">Add</button>
            </div>
          </div>
          <div *ngIf="customer.productsPurchasedList.length > 0">
            <table>
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Product Name</th>
                  <th>Item Price</th>
                  <th>Item Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let product of customer.productsPurchasedList'>
                  <td> {{ product.productSerialNumber }}</td>
                  <td> {{ product.productName }}</td>
                  <td> {{ product.price }}</td>
                  <td> <input type="text" [(ngModel)]='product.quantitiesSold' (ngModelChange)="calculateItemPrice()"
                      name="quantities sold" required value='product.quantitiesSold'>
                    {{ product.quantitiesSold }}  
                  </td>
                  <td> {{ product.itemPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    <div *ngIf="totalPrice">
      <div class="row">
        <div class="col s12 offset-s2">
          <h4>Total Price</h4>
          <div class="row">
            <div class="input-field col s8">
              <p> Total Price: {{ totalPrice }} </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <button [disabled] = "!customerDetailsForm.valid" class="btn-large btn-submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


    <div *ngIf="customer.invoiceNumber">
        <h4>Invoice Number</h4>
    <div class="row">
        <div class="input-field col s8 offset-s2">
          <p> Invoice number generated is: {{ customer.invoiceNumber }} </p>
        </div>
      </div>
    </div>

 -->




















<app-home></app-home>

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <!-- <div class="card grey"> -->
      <h5>Customer Info</h5>
      <form #customerDetailsForm="ngForm" class="col s12 white">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" required [(ngModel)]='customer.customerName' name='customer name'>
            <label data-error="Required feild!">Customer Name</label>
          </div>
          <div class="input-field col s6">
            <input type="text" required [(ngModel)]='customer.customerAddress' name='customer address'>
            <label data-error="Required Feild!">Customer Address</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label> Purchased Date</label>
          </div>
          <div class="input-field col s6">
            <input type="date" class="datepicker" [(ngModel)]='customer.purchasedDate' name='purchased date'>
          </div>
        </div>
      </form>
    </div>
    <!-- </div> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <!-- <div class="card grey"> -->
      <h5>Product info</h5>
      <form #productPurchasedForm class="col s12 white" (ngSubmit)="getProductDetails()">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" required name="product number" [(ngModel)]="productNumber">
            <label>ProductSerialNumber</label>
          </div>
          <div class="input-field col s2">
            <button [disabled]="productPurchasedForm.notValid" class="btn btn-submit">Add</button>
          </div>
        </div>
        <div *ngIf="customer.productsPurchasedList.length > 0">
          <table>
            <thead>
              <tr>
                <th>Serial Number</th>
                <th>Product Name</th>
                <th>Item Price</th>
                <th>Item Quantity</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let product of customer.productsPurchasedList'>
                <td> {{ product.productSerialNumber }}</td>
                <td> {{ product.productName }}</td>
                <td> {{ product.price }}</td>
                <td> <input type="text" [(ngModel)]='product.quantitiesSold' (ngModelChange)="calculateItemPrice()"
                    name="quantities sold" required value='product.quantitiesSold'>
                  {{ product.quantitiesSold }}
                </td>
                <td> {{ product.itemPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <!-- </div> -->
  </div>
</div>



<div *ngIf="totalPrice">
  <div class="container">

    <div class="row">
      <div class="col s8 offset-s2">
        <h5>Total Price</h5>
        <form #customerForm class="col s12 white" (ngSubmit)="addCustomerDetails()">
          <div class="row">
            <div class="input-field col s6">
              <p> Total Price: {{ totalPrice }} </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <button [disabled]="!customerDetailsForm.valid" class="btn btn-submit">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="">
        <h5>Total Price</h5>
        <form #customerForm class="col s12 white" (ngSubmit)="addCustomerDetails()">
          <div class="row">
            <div class="input-field col s8">
              <p> Total Price: {{ totalPrice }} </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <button class="btn btn-submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div> -->



<!-- <div class="invoice" *ngIf="customer.invoiceNumber">
  <p>Invoice number generated is: {{ customer.invoiceNumber }}</p>
</div> -->

<div *ngIf="customer.invoiceNumber">
  <div class="container">
    <div class="row">
      <div class="input-field col s8 offset-s2">
        <h5>Invoice Number</h5>
        <form #customerForm class="col s12 white" (ngSubmit)="addCustomerDetails()">
          <div class="row">
            <div class="input-field col s8">
              <p> Invoice number generated is: {{ customer.invoiceNumber }} </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>