<app-home></app-home>

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card blue-grey"> Enter Product Details
        <form #enterProductDetailsForm="ngForm" class="col s12 grey lighten-5"
          (ngSubmit)="OnSubmit(enterProductDetailsForm)">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="productName" [(ngModel)]="product.productName">
              <label>Product Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" name="productSerialNumber" [(ngModel)]="product.productSerialNumber">
              <label>Product Serial Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="price" [(ngModel)]="product.price">
              <label>Price</label>
            </div>
            <div class="input-field col s6">
              <input type="text" name="quantity" [(ngModel)]="product.quantity">
              <label>Quantity</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <button class="btn-large btn-submit">Enter Details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




