<!-- 
  
  <nav  class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Achuth Store</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href = "home">Home</a></li>
            <li><a href="product">Search</a></li>
            <li><a href="add">Add</a></li>
            <li><a href="sold">Sold</a></li>
            <li><a href = "invoice"> Invoice </a></li>
      </ul>
    </div>
  </nav> -->


<div class="image">
  <router-outlet></router-outlet>
</div>
